version: '3.8'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/scem-evMan
      - PORT=8080
    depends_on:
      - mongo

volumes:
  mongo-data:
